@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base de layout (mínimo). Tailwind hace el resto. */
html,
body {
  height: 100%;
}

html.dark {
  color-scheme: dark;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

